body {
    color: #000000;               /* Black */
    background-image: url("./assets/home/bg-image.jpg");
    background-repeat: repeat-y;   
    background-size: auto;
    font-size: 18px;
    margin: 0px;
    overflow: hidden;
}

.bg {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 12%;
}

.gb {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10%;
  padding-bottom: 1%;
}

  .header {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 6vw;
  }

  .page_det {
    position: absolute;
    top: 3.5vh;
    right: 0;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 3vw;
  }


  .bio {

    display: inline-block;
    width: 23vw;

}

.bio:hover {

  display: inline-block;
  width: 25vw;
}


.work {
  display: inline-block;
  padding: 10;
  width: 23vw;
}

.work:hover {
display: inline-block;
width: 25vw;
}

.portp {

  display: inline-block;
  width: 23vw;
}

.portp:hover {
display: inline-block;
width: 25vw;
}

.scrolling-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: auto;
  width: 64vw;
  position: relative;
  padding: 5;

  
}

.card {
  display: inline-block;
}



