@font-face {
  font-family: invasion;
  src: url(./assets/INVASION2000.TTF);
}

body {
    color: #000000;               /* Black */
    background-image: url("./assets/Background_1-80.jpg"); 
    background-size: 90%;
    background-origin: border-box;
    background-position-x: 5em;
    font-size: 1.9vw;
    font-family: invasion;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 8vw;
  display: flex;
  margin-top: -5vh;
  margin-left: -2.5vw;
}


.git {
  position: fixed;
  top: 0.5%;
  left: 87.5%;
  display: flex;
}


.linked {
  position: fixed;
  top: 0.5%;
  left: 91.5%;
  display: flex;
}

nav ul {

  position: fixed;
  top: 0;
  width: 100vw;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 40;
  margin-left: auto;
  margin-right: auto;
}

li {
  float: left;
}

li a {
  padding-top: 0.3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 0.5vw;
  text-align: center;
  display: block;
  font-size: 2vw;
  color:rgba(255,255,255, 0.5);
  text-decoration: none;
  background: rgba(255,255,255, 0.0);
  border-color: rgba(255,255,255, 0.1);
  border-style: groove;
}

li a:hover {
  color: white;
  background: rgba(255,255,255, 0.3);
  border-color:rgba(255,255,255, 0.3);
  border-style: solid;
  
}

.bg {
  margin-top: -5vh;
  margin-left: -2.5vw;
  position: relative;
  display: flex;
  top: 0;
  width: 100vw;
  z-index: -5;
}



.box {
  top: 0;
  position: absolute;
  display: flex;

}

.gb_text {
  top: 15vw;
  left: 27.5vw;
  z-index: 40;
  text-align: center;
  width: 50vw;
  color: white;
  font-size: 2.5vw;

}


.gb_text_2 {
  top: 30vw;
  left: 32.5vw;
  z-index: 40;
  text-align: center;
  width: 40vw;
  color: white;
  font-size: 2.5vw;

}

.bio { 
    top: 85%;
    left: 17%;
    z-index: 0;
    width: 70vw;

}

.box .biotext{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: white;
  z-index: 5;
  margin: auto;
  left: 12.5%;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: left;
  width: 55vw; /* Set the width of the positioned div */
  float: left;
}

.box .worktext{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: white;
  z-index: 5;
  margin: auto;
  left: 12.5%;
  top: 31.5%; /* Adjust this value to move the positioned div up and down */
  text-align: left;
  width: 53vw; /* Set the width of the positioned div */
  float: left;
}

.box .progtext{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: white;
  z-index: 11;
  margin: auto;
  left: 12.5%;
  top: 31.5%; /* Adjust this value to move the positioned div up and down */
  text-align: left;
  width: 53vw; /* Set the width of the positioned div */
  float: left;
}

.box .arttext{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: white;
  z-index: 16;
  margin: auto;
  left: 12.5%;
  top: 31.5%; /* Adjust this value to move the positioned div up and down */
  text-align: left;
  width: 53vw; /* Set the width of the positioned div */
  float: left;
}


.inlineImg {
  float: left;
  width: 16vw;
}

.inlineImg:hover {
  float: left;
  width: 16vw;
  border: 3px solid white;
}

.biotitle {
  padding-left: 30%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.jobtitle {
  padding-left: 31%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.jobdate{
  padding-left: 31%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5vw;
}

.jobdesc {
  padding-left: 32%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1vw;
}

.education {
  margin-top: 0;
  margin-bottom: 0;
}

.work {
  top: 225%;
  left: 16.75%;
  z-index: 5;
  width: 70vw;
}


.prog {

  top: 405%;
  left: 16.75%;
  z-index: 10;
  width: 70vw;
}

.art {

  top: 90%;
  left: 0%;
  z-index: 15;
  width: 70vw;
  padding-bottom: 10px;
}

.line-numbers {
  width: 24vw;
  height: 10.5vw;

}

.progdesc{
  padding-left: 0%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5vw;
}



/* PrismJS 1.22.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+java+python */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #ccc;
   background: none;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 0.65em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #2d2d2d;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.block-comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #999;
 }
 
 .token.punctuation {
   color: #ccc;
 }
 
 .token.tag,
 .token.attr-name,
 .token.namespace,
 .token.deleted {
   color: #e2777a;
 }
 
 .token.function-name {
   color: #6196cc;
 }
 
 .token.boolean,
 .token.number,
 .token.function {
   color: #f08d49;
 }
 
 .token.property,
 .token.class-name,
 .token.constant,
 .token.symbol {
   color: #f8c555;
 }
 
 .token.selector,
 .token.important,
 .token.atrule,
 .token.keyword,
 .token.builtin {
   color: #cc99cd;
 }
 
 .token.string,
 .token.char,
 .token.attr-value,
 .token.regex,
 .token.variable {
   color: #7ec699;
 }
 
 .token.operator,
 .token.entity,
 .token.url {
   color: #67cdcc;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .token.inserted {
   color: green;
 }
 
 