body {
    color: #000000;               /* Black */
    background-image: url("./assets/Background_1-80.jpg"); 
    background-size: 90%;
    background-origin: border-box;
    background-position-x: 5em;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.bg {
  margin-top: -5vh;
  margin-left: auto;
  position: relative;
  display: flex;
  top: 0;
  width: 100vw;
  z-index: -5;
}

.box {
  top: 0;
  position: absolute;
  display: flex;

}

.bio { 
    top: 85%;
    left: 17%;
    z-index: 0;
    width: 70vw;

}

.work {
  top: 225%;
  left: 16.75%;
  z-index: 5;
  width: 70vw;
}


.prog {

  top: 415%;
  left: 16.75%;
  z-index: 10;
  width: 70vw;
}

.art {

  top: 595%;
  left: 16.75%;
  z-index: 15;
  width: 70vw;
  padding-bottom: 10px;
}



