@font-face {
  font-family: invasion;
  src: url(./assets/INVASION2000.TTF);
}

body {
    color: #000000;               /* Black */
    background-image: url("./assets/Background_1-80.jpg"); 
    background-size: 90%;
    background-origin: border-box;
    background-position-x: 5em;
    font-size: 2vw;
    font-family: invasion;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 8vw;
  display: flex;
  margin-top: -5vh;
  margin-left: -2.5vw;
}



nav ul {

  position: fixed;
  top: 0;
  width: 100vw;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 40;
  margin-left: auto;
  margin-right: auto;
}

li {
  float: left;
}

li a {
  padding-top: 0.3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 0.5vw;
  text-align: center;
  display: block;
  font-size: 2vw;
  color:rgba(255,255,255, 0.5);
  text-decoration: none;
  background: rgba(255,255,255, 0.0);
  border-color: rgba(255,255,255, 0.1);
  border-style: groove;
}

li a:hover {
  color: white;
  background: rgba(255,255,255, 0.3);
  border-color:rgba(255,255,255, 0.3);
  border-style: solid;
  
}

.bg {
  margin-top: -5vh;
  margin-left: -2.5vw;
  position: relative;
  display: flex;
  top: 0;
  width: 100vw;
  z-index: -5;
}



.box {
  top: 0;
  position: absolute;
  display: flex;

}

.gb_text {
  top: 15vw;
  left: 27.5vw;
  z-index: 40;
  text-align: center;
  width: 50vw;
  color: white;
  font-size: 2.5vw;

}


.gb_text_2 {
  top: 30vw;
  left: 32.5vw;
  z-index: 40;
  text-align: center;
  width: 40vw;
  color: white;
  font-size: 2.5vw;

}

.bio { 
    top: 85%;
    left: 17%;
    z-index: 0;
    width: 70vw;

}

.box .biotext{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: white;
  z-index: 5;
  margin: auto;
  left: 12.5%;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: left;
  width: 57vw; /* Set the width of the positioned div */
  float: left;
}

.inlineImg {
  float: left;
  width: 16vw;
}

.biotitle {
  padding-left: 30%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.education {
  margin-top: 0;
  margin-bottom: 0;
}

.work {
  top: 225%;
  left: 16.75%;
  z-index: 5;
  width: 70vw;
}


.prog {

  top: 405%;
  left: 16.75%;
  z-index: 10;
  width: 70vw;
}

.art {

  top: 585%;
  left: 16.75%;
  z-index: 15;
  width: 70vw;
  padding-bottom: 10px;
}



