body {
    color: #000000;               /* Black */
    background-image: url("./assets/home/bg-image-work.png");
    background-repeat: repeat-y;   
    background-size: auto;
    font-size: 18px;
    margin: 0px;
    overflow: hidden;
}

.bg {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 12%;
}

.gb {
  position: fixed;
  display: block;
  top: 38vh;
  left: -20vw;
  width: 40%;
  transform: rotate(270deg)
}

  .header {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 6vw;
  }

  .page_det {
    position: absolute;
    top: 3.5vh;
    right: 0;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 3vw;
  }


  .work {
    position: fixed;
    display: inline-block;
    transform: rotate(90deg);
    top: 49vh;
    left: 0vh;
    width: 31vh;
}

.work:hover {
  position: fixed;
  display: inline-block;
  transform: rotate(90deg);
  top: 49vh;
  left: 4vh;
  width: 31vh;
}
